page-login {
 
  .login-content {
    background: #0099ff;
    font: small-caps 100%/200% Arial;
    .logo-row {
      text-align: center;
      align-items: center;
      margin-left: 15%;
      width: 70%;
    }
 
    .login-box {
      background: #0099ff;
      padding: 0px 20px 0px 20px;
      margin-top: 0px;
    }
 
    ion-row {
       align-items: center;
       text-align: center;
     }
 
     ion-item {
         border-radius: 10px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
     }
 
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #ffbb00;
       border-radius: 10px !important;
       border: 1px solid #ffffff;
     }
 
     .register-btn {
       color: #000000;
       background: #ffbb00;  
       border: 1px solid #ffffff;
       border-radius: 10px !important;     
         
       font-size: 0.8em;
     }
  }
 
}